.App {
  text-align: center;
}

.user-name{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.profile-pic{
  border-radius: 150px;
  height: 100px;
  width: 100px;
}
.movie-container{
  background-color: brown;
}

.movie-poster{
  height: 550px;
  width: 500px;
  object-fit: cover;
}